mixin mainNav()
  nav
    ul
      li 
        a(href="#") Use/Task Cases
      li
        a(href="#") Diagrams
      li
        a(href="#") Personas
      li
        a(href="#") Storyboards
      li
        a(href="#") Video
      li
        a(href="#") Repository


mixin info()
  .infobox
    img(src="img/logo.svg")
    h4 Infobox Heading 1
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    
