mixin mainNav()
  nav
    ul
      li 
        a(href="#") Use/Task Cases
      li
        a(href="#") Diagrams
      li
        a(href="#") Personas
      li
        a(href="#") Storyboards
      li
        a(href="#") Video
      li
        a(href="#") Repository
